#aboutme {
  margin: 0.5rem 2rem;
}

#aboutme h2 {
  text-align: center;
}

#sosmed {
  text-align: center;
}

#infor1 {
  justify-content: center;
  display: flex;
}

#infor1 img {
  width: 15rem;
  margin-bottom: 10px;
}

.medsos {
  font-size: 30px;
}

.medsos i {
  padding-left: 10px;
}

.medsos a {
  color: black;
}

.medsos i:hover {
  transform: scale(1.1);
}

/* dark mode */
body.dark-mode {
  background-color: #121212;
  color: #fff;
}

body.dark-mode p {
  color: #fff;
}

body.dark-mode .medsos a {
  color: rgb(255, 255, 255);
}
